<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/DevStudio/Projects/java-string-testng/stringtest/src/test/java/com/example/stringtest/StringUtilTest.java">
        <classes>
            <class name="com.example.stringtest.StringUtilTest">
                
                <methods>
                    <include name="testIsEmpty"/>
                    
                    <include name="testCapitalize"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
